<!doctype html>
<html lang="es">

<head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <meta charset="UTF-8" />
  <title>HOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />



  <link href="./assets/css/style.css" rel="stylesheet" />

</head>

<body>

  <body>
    <header class="header__page">
      <img alt="logo marca del site" src="/assets/images/logo/icon-api-01.png" class="img__logoBrand" />

      <nav class="nav__page">
        <ul class="nav__list">
          <li class="li__navlist active"><a class="anchor__navlist active" href="/">HOME</a></li>

          <li class="li__navlist"><a class="anchor__navlist " href="/recursos-front-end.html">RECURSOS</a></li>
          <li class="li__navlist"><a class="anchor__navlist " href="/snippets.html">SNIPPETS</a></li>
          <li class="li__navlist"><a class="anchor__navlist" href="/login.html">LOGIN</a></li>
          <li class="li__navlist"><a class="anchor__navlist" href="/cadastro.html">CADASTRO</a></li>
        </ul>
      </nav>
    </header>




    <main class="banner">

      <div class="pageReferences">


        <h1 class="banner__titulo"> Hola Mundo!</h1>

        <div class="div__pageReferences">
          <ul class="footer__listAnchor"><a href="/#nosotras">NOSOTRAS</a></li>
            <li class="anchor__footerList"><a href="/#projecto">EL PROJECTO</a></li>
            <li class="anchor__footerList"><a href="/#github">GITHUB</a></li>
          </ul>
        </div>

        <h2 class="pageReferences__titulo">Nuestros TIPS sobre FRONTEND BASICO</h2>
        <div class="pageReferences__descricao">
          <p class="pageReferences__descricao">Si tambien sos parte de <strong><br />CODO A CODO 4.0<br /></strong>
            o
            si
            <strong><br />SOS
              ENTUSIASTA del DESAROLLO WEB<br /></strong> o
            si</strong> no perca tiempo en construir nuestra comunidade!
          </p>
          <p class="pageReferences__cadastro"> <strong>HAGA TU <a class="card__botao ">CADASTRO</a> y PARTICIPE!!
            </strong>
          </p>

          </article>

        </div>
      </div>

    </main>

    <section class="cards">
      <div class="card temaCard__html">
        <img alt="html tags card" class="card__imagem" src="./assets/images/cards/card-home-01.png" />
        <div class="card__conteudo">
          <h4 class="card__titulo">HTML #01 - MARKUP LENGUAJE</h4>
          <p class="card__descricao">Lo que <strong>SIGNIFICA HTML</strong> y <strong>USABILIDAD del HTML</strong>
          </p>
          <div class="divCard__botao">
            <a class="card__botao ">Ver card</a>

            <a class="card__botao ">LIKE Card</a>
            <a class="card__botao ">CREAR SNIPPET!</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img alt="Salada de kiwi" class="card__imagem" src="./assets/images/cards/card-home-01.png" />
        <div class="card__conteudo">
          <h4 class="card__titulo">Salada de kiwi</h4>
          <p class="card__descricao">card refrescante e cheia de vitaminas para seu café da manhã.</p>
          <div class="divCard__botao">
            <a class="card__botao ">Ver card</a>
            <a class="card__botao ">Ver card</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img alt="Mix de vegetais" class="card__imagem" src="./assets/images/cards/card-home-01.png" />
        <div class="card__conteudo">
          <h4 class="card__titulo">Mix de vegetais</h4>
          <p class="card__descricao">card refrescante e cheia de vitaminas para seu café da manhã.</p>
          <div class="divCard__botao">
            <a class="card__botao ">Ver card</a>
            <a class="card__botao ">Ver card</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img alt="Pimentões à Juliana" class="card__imagem" src="./assets/images/cards/card-home-01.png" />
        <div class="card__conteudo">
          <h4 class="card__titulo">Pimentões à Juliana</h4>
          <p class="card__descricao">card refrescante e cheia de vitaminas para seu café da manhã.</p>
        </div>
        <div class="divCard__botao">
          <a class="card__botao ">Ver card</a>
          <a class="card__botao ">Ver card</a>
        </div>
      </div>
      <div class="card">
        <img alt="Prato oriental" class="card__imagem" src="./assets/images/cards/card-home-01.png" />
        <div class="card__conteudo">
          <h4 class="card__titulo">Prato oriental</h4>
          <p class="card__descricao">card refrescante e cheia de vitaminas para seu café da manhã.</p>
        </div>
        <div class="divCard__botao">
          <a class="card__botao ">Ver card</a>
          <a class="card__botao ">Ver card</a>
        </div>
      </div>
      <div class="card">
        <img alt="Beterrabas assadas" class="card__imagem" src="./assets/images/cards/card-home-01.png" />
        <div class="card__conteudo">
          <h4 class="card__titulo">Beterrabas assadas</h4>
          <p class="card__descricao">card refrescante e cheia de vitaminas para seu café da manhã.</p>
        </div>
        <div class="divCard__botao">
          <a class="card__botao ">Ver card</a>
          <a class="card__botao ">Ver card</a>
        </div>

      </div>
    </section>


    <!-- footer -->

    <footer>
      <div class="container">
        <div classs="footer__divAnchors">
          <ul class="footer__listAnchor"><a href="/#nosotras">NOSOTRAS</a></li>
            <li class="anchor__footerList"><a href="/#projecto">EL PROJECTO</a></li>
            <li class="anchor__footerList"><a href="/#github">GITHUB</a></li>
          </ul>
        </div>
        <div classs="footer__divAnchors">
          <ul class="footer__listAnchor"><a href="/#nosotras">NOSOTRAS</a></li>
            <li class="anchor__footerList"><a href="/#projecto">EL PROJECTO</a></li>
            <li class="anchor__footerList"><a href="/#github">GITHUB</a></li>
          </ul>
        </div>
      </div>
    </footer>

  </body>
  
</html>